dist/
.cache/
demo_files/
api-caches/
.artifacts/
.pytest_cache/
pytest-cache-files-*/
__pycache__/
*.py[cod]
voice_conductor_cache*.db
voice_conductor_cache*.db-journal
voice_conductor_cache*.db-x-*
test_sqlite_*.db
api-caches/
voice_conductor.config.jsonc
todo.md
voice_conductor_cache.db
testenv/
.vscode/
Qwen3-TTS-12Hz-1.7B-Base/
QwenProvider/
env/